@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sixtyfour&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(90deg,#181818, rgb(63, 60, 60), #181818);
    color: #fff;
    height: 80vh;
}

.circle {
    width: 21px;
    height: 21px;
    border-radius: 21px;
    background-color: #EAB62D;
    box-shadow: 0 0 10px white,
        0 0 100px white,
        0 0 50px white;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    text-shadow: 0 0 10px white;
}

html {
    cursor: none;
}

.social1 {
    display: inline-flex;
    padding: 10px;
    border: 5px inset white;
    border-radius: 50%;
    font-size: 20px;
    color: #EAB62D;
    background: transparent;
    /* margin: 0 8px; */
    transition: .5s;
}

.social2 {
    display: inline-flex;
    padding: 10px;
    border: 5px inset white;
    border-radius: 50%;
    font-size: 20px;
    color: #EAB62D;
    background: transparent;
    /* margin: 0 8px; */
    transition: .5s;
}

.social3 {
    display: inline-flex;
    padding: 10px;
    border: 5px inset white;
    border-radius: 50%;
    font-size: 20px;
    color: #EAB62D;
    background-color: transparent;
    /* margin: 0 8px; */
    transition: .5s;
}

.social4 {
    display: inline-flex;
    padding: 10px;
    border: 5px inset white;
    border-radius: 50%;
    font-size: 20px;
    color: #EAB62D;
    background-color: transparent;
    /* margin: 0 8px; */
    transition: .5s;
}

.social1:hover {
    background: rgb(0, 0, 0);
    color: #EAB62D;
    box-shadow: 0 0 15px #fff;
}

.social2:hover {
    background: rgb(0, 0, 0);
    color: #EAB62D;
    box-shadow: 0 0 10px #fff;
}

.social3:hover {
    background: rgb(0, 0, 0);
    color: #EAB62D;
    box-shadow: 0 0 10px #ffff;
}

.social4:hover {
    background: rgb(0, 0, 0);
    color: #EAB62D;
    box-shadow: 0 0 10px #fff;
}

a {
    color: #fff;
    text-decoration: none;
    /* position: relative; */
    /* box-shadow: 0 0 25px #EAB62D; */
    padding: 10px 30px;
}

.sides-6 {
    --b: 2px;
    --s: 8px;
    background:
        linear-gradient(currentColor 0 0) var(--x, calc(var(--s)/2)) var(--x, calc(var(--s)/2)) /var(--d, 0) var(--b),
        linear-gradient(currentColor 0 0) var(--x, calc(var(--s)/2)) var(--x, calc(var(--s)/2)) /var(--b) var(--d, 0),
        linear-gradient(currentColor 0 0) bottom var(--x, calc(var(--s)/2)) right var(--x, calc(var(--s)/2))/var(--d, 0) var(--b),
        linear-gradient(currentColor 0 0) bottom var(--x, calc(var(--s)/2)) right var(--x, calc(var(--s)/2))/var(--b) var(--d, 0),


        linear-gradient(currentColor 0 0) var(--y, calc(var(--s)/2)) var(--y, calc(var(--s)/2))/var(--d, 0) var(--b),
        linear-gradient(currentColor 0 0) var(--y, calc(var(--s)/2)) var(--y, calc(var(--s)/2))/var(--b) var(--d, 0),
        linear-gradient(currentColor 0 0) bottom var(--y, calc(var(--s)/2)) right var(--y, calc(var(--s)/2))/var(--d, 0) var(--b),
        linear-gradient(currentColor 0 0) bottom var(--y, calc(var(--s)/2)) right var(--y, calc(var(--s)/2))/var(--b) var(--d, 0);
    ;
    background-repeat: no-repeat;
    transition: 0.3s, background-size 0.5s 0.3s;
}

.sides-6:hover,
.sides-6.active {
    --d: calc(100% - var(--s));
    --x: 0;
    --y: var(--s);
    transition: 0.5s, background-position 0.3s 0.5s;
}

/* .sixtyfour-uniquifier {
    font-family: "Sixtyfour", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
} 

/* a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: #EAB62D;
    transition: .5s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

a:hover::after {
    transform: scaleX(1);
} */



header {
    position: fixed;
    left: 0;
    top: 10px;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation-delay: 1.2s;
    border: 4px outset grey;
    box-shadow: 0 0 30px #fff;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    animation: show-content 1.5s linear forwards;
}

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

nav a {
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: .5s;
}

nav a:hover,
nav a.active {
    color: #EAB62D;
    text-shadow: 0 0 25px #EAB62D;
}

.home {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    /* animation: show-content 1.5s linear forwards; */
    /* animation-delay: 1.2s; */
}

section {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10rem 9% 2rem;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

section.active {
    animation: show-cont 1.5s linear forwards;
    animation-delay: 1.6s;
}

@keyframes show-cont {
    100% {
        visibility: visible;
        opacity: 1;
        overflow: auto;
    }
}

.bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.bars-animation .bar {
    width: 100%;
    height: 100%;
    /* background: linear-gradient(black, rgb(98, 98, 98), black); */
    background: linear-gradient(90deg,#181818, rgb(63, 60, 60), #181818);
    animation: hide-bars .5s ease-in-out both;
    animation-delay: calc(.1s * var(--i));
}

@keyframes hide-bars {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

.bars-animation.active .bar {
    animation: show-bars .5s ease-in-out both;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.home-info h1 {
    font-size: 55px;
}

.home-info {
    position: relative;
}

.home-info .name {
    position: absolute;
}

.name:nth-child(1) {
    color: transparent;
    text-shadow: 0 0 25px #EAB62D;
    -webkit-text-stroke: 2px #EAB62D;
}

.Name:nth-child(2) {
    color: #EAB62D;
    animation: animate 1s ease-in infinite;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(100% 100%, 0% 100%, 0% 45%, 17% 42%, 32% 48%, 45% 57%, 78% 65%, 94% 59%, 99% 56%, 100% 56%);
    }

    50% {
        clip-path: polygon(99% 100%, 0% 100%, 0% 55%, 16% 46%, 33% 38%, 57% 40%, 73% 50%, 88% 59%, 99% 64%, 100% 61%);
    }
}

.name {
    color: #EAB62D;
}

.home-info h2 {
    display: inline-block;
    font-size: 40px;
    margin-top: 7px;
}

.home-info h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #EAB62D;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {

    25%,
    100% {
        display: none;
    }
}

.home-info h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #EAB62D;
    color: #EAB62D;
    white-space: nowrap;
    text-shadow: 0 0 5px #EAB62D;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {

    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}

.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-info .btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    /* display: inline-block;
    padding: 10px 30px;
    background: #EAB62D;
    border-radius: 40px;
    border: 2px solid #EAB62D;
    box-shadow: 0 0 10px #EAB62D;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s; */
    position: relative;
    overflow: hidden;
    padding-right: 30px;
    padding-left: 25px;
    padding-bottom: 23px;
    font-weight: 900;
    height: 3rem;
    border: 1px solid white;
    border-radius: 1.5rem;
    background: transparent;
    transition: background 0.475s;
}

.btn::before {
    /* background: transparent;
    color: #EAB62D;
    box-shadow: 0 0 10px #EAB62D;
    scale: 1.1; */
    content: "";
    position: absolute;
    inset: 0;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: inherit;
    background: linear-gradient(82.3deg, orange 10.8%, #EAB62D 94.3%, orange);
    transition: transform 0.475s;
}

.btn:hover::before {
    transform: scaleX(1);
    box-shadow: 0 0 20px white;
}

.btn span {
    position: relative;
}

.home-info .btn-sci .sci {
    margin-left: 5px;
}

/* .home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #EAB62D;
    margin: 0 8px;
    transition: .5s;
} */

/* .home-info .btn-sci .sci a:hover {
    background: #ece2c9;
    color: #1f242d;
    box-shadow: 0 0 10px #EAB62D;
    scale: 1.4;
} */

.home-img .img-box {
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 700px;
    height: 700px;
    background: conic-gradient(transparent, transparent, transparent, #EAB62D);
    transform: rotate(0deg);
    animation: rotate-border 1s cubic-bezier(0.1, 0.1, 0.1, 0.85) infinite;
}

/* .home-img .img-box::after {
    animation-delay: -5s;
} */

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgb(25, 25, 25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 10px #EAB62D;
    border: .1px solid rgb(66, 66, 66);
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    /* position: absolute; */
    display: block;
    /* top: 45px; */
    /* width: 85%; */
    object-fit: cover;
    mix-blend-mode: lighten;
}

.bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

/* .bars-animation .bar {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,black, rgb(0, 0, 0), black);
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars {
    100% {
        transform: translateY(0%);
    }
} */

#menu-icon {
    font-size: 2.5rem;
    margin-top: -6px;
    display: none;
}

.services .heading {
    background-color: rgba(0, 0, 0, .6);
    border: 5px outset #EAB62D;
    box-shadow: 0 0 10px #EAB62D;
    /* margin-left: 36.5%; */
    text-align: center;
    margin-top: 20px;
    display: block;
}

.heading {
    font-size: 4.5rem;
    margin-bottom: 2.2rem;
    padding-bottom: 1rem;
    border-radius: 15px;
    margin-top: 1.5rem;
    /* display: inline-block; */
    /* margin-left: 36.5%; */
    padding-left: 25px;
    padding-right: 25px;
}

.heading span {
    color: #EAB62D;
    text-shadow: 0 0 10px #EAB62D;
}

.services-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.services-cont .services-box {
    padding: 3rem 2.5rem;
    background: #000000;
    border: .2rem solid grey;
    border-radius: 1rem;
    box-shadow: 0 0 20px grey;
    transition: .7s;
}

.services-cont .services-box:hover {
    border-color: #EAB62D;
    transform: scale(1.08);
}

.services-box .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-box .icon i {
    font-size: 3.2rem;
    transition: .5s;
}

.services-box:hover .icon :not(a i) {
    color: #EAB62D;
}

.services-box .icon a {
    display: inline-flex;
    background: white;
    border-radius: 50%;
    padding: 1rem;
    box-shadow: 0 0 10px #EAB62D;
    transition: .5s;
}

.services-box:hover .icon a {
    background-color: #EAB62D;
}

.services-box .icon a i {
    font-size: 3rem;
    transform: rotate(225deg);
}

.services-box .icon a:hover i {
    transform: rotate(180deg);
}

.services-box h3 {
    font-size: 2.5rem;
    margin: .5rem 0 2rem;
    color: #fff;
    transition: .5s;
}

.services-box:hover h3 {
    color: #EAB62D;
}

.services-box p {
    font-size: 1.6rem;
}

.style {
    color: #fff;
}

/* 
.services .servic {
    font-size: 72px;
}

.servic:nth-child(1) {
    color: transparent;
    text-shadow: 0 0 1px #EAB62D;
    -webkit-text-stroke: 2px #EAB62D;
}

.servics:nth-child(2) {
    color: #EAB62D;
    animation: animate 1s ease-in infinite;
} */
/* .arrow:hover {
    background-color: #EAB62D;
} */

.resume-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}

.resume-box h2 {
    color: #fff;
    font-size: 3.2rem;
    margin-top: 1.5rem;
}

.resume-item p {
    padding-left: 10px;
}

.resume-box p {
    color: #fff;
    font-size: 1.3rem;
}

.resume-box .desc {
    margin: 2rem 0 2.5rem;
}

.resume-box .resume-btn {
    width: 100%;
    height: 5.3rem;
    background: #000000;
    border: .2rem solid #454545;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 2rem;
    border-radius: .8rem;
    cursor: pointer;
    text-shadow: 0 0 20px #EAB62D;
}

.resume-detail .heading {
     background-color: rgba(0, 0, 0, .6);
     padding-top: 5px;
     border: 5px outset #EAB62D;
     box-shadow: 0 0 10px #EAB62D;
     display: block;
     padding-left: 20%;
}

.resume-box .resume-btn.active {
    border-color: #EAB62D;
    color: #EAB62D;
}

.resume-detail {
    display: none;
}

.resume-detail.active {
    display: block;
}

.resume-box .heading {
    font-size: 3rem;
    text-align: left;
}

.resume-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    height: 45rem;
    overflow: auto;
}

.resume-list::-webkit-scrollbar {
    width: .7rem;
}

.resume-list::-webkit-scrollbar-thumb {
    background: #EAB62D;
    border-radius: 1rem;
}

/* 
.resume-list:hover::-webkit-scrollbar-thumb {
    background: #EAB62D;
} */

.resume-list .resume-item {
    background: #000000;
    border-radius: .8rem;
    border: 1px solid white;
    padding: 3rem 2.5rem;
    height: calc((45rem - 2rem) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume-item .year {
    color: #EAB62D;
}

.resume-item h3 {
    font-size: 2.0rem;
    color: #fff;
}

.resume-item .company {
    position: relative;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.resume-item .company::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .5rem;
    background: #EAB62D;
    margin-left: -2rem;
    border-radius: 50%;
}
/* 
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #EAB62D;
}

.home::-webkit-scrollbar {
    overflow: scroll;
    overflow-y: unset;
    overflow-x: unset;
    width: 1px;
    height: 1px;
} */

::-webkit-scrollbar {
    color: transparent;
}

::-webkit-scrollbar-thumb {
    color: transparent;
}

.resume-detail.skills .resume-list {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    height: auto;
    overflow: visible;
}

.resume-detail.skills .resume-item {
    position: relative;
    align-items: center;
    height: auto;
}

.resume-detail.skills .resume-item i {
    font-size: 8.5rem;
    transition: .5s;
}

.resume-detail.skills .resume-item:hover i {
    color: #EAB62D;
}

.resume-detail.skills .resume-item span {
    position: absolute;
    top: -20%;
    background: #fff;
    color: #1f242d;
    font-size: 1.6rem;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    opacity: 0;
    transform: scale(.9);
    transition: .2s;
}

.resume-detail.skills .resume-item:hover span {
    top: -25%;
    opacity: 1;
    transform: scale(1);
}

.resume-detail.about .resume-list {
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.resume-detail.about .resume-item {
    height: auto;
    padding: 0 0 .5rem;
    background: transparent;
}

.resume-detail.about .resume-item p {
    color: #EAB62D;
}

.resume-detail.about .resume-item p span {
    color: #fff;
    margin-left: 1rem;
    font-size: 1.8rem;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 3rem;
}

.contact-box {
    margin-top: 40px;
}

.contact-container .contact-box:first-child {
    align-self: center;
}

.contact-box .h2 {
    font-size: 4.2rem;
    color: #fff;
    display: inline-block;
}

.contact-box .h22 {
    font-size: 4.2rem;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
    padding-left: 25px;
    margin-right: 20px;
    padding-bottom: 8px;
    border: 5px outset #EAB62D;
    border-radius: 15px;
    box-shadow: 0 0 15px #EAB62D;
}

.contact-box p {
    font-size: 1.3rem;
    color: #fff;
}

.contact-box .desc {
    margin: 1.5rem 2.5rem;
}

.contact-box .contact-detail {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.contact-box .work {
    color: #EAB62D;
}

.contact-detail i {
    display: inline-flex;
    background: #000000;
    color: #EAB62D;
    font-size: 2.5rem;
    padding: 1.2rem;
    border-radius: .6rem;
    margin-right: 1.5rem;
}

.contact-detail .detail p:first-child {
    color: #EAB62D;
}

.contact-box form {
    background: #000000;
    padding: 2.5rem 3.5rem 3.5rem;
    border-radius: 1rem;
    border: 5px outset white;
    text-align: center;
}

.contact-box .heading {
    font-size: 3.2rem;
    color: #fff;
}

.contact-box .field-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.contact-box .field-box input,
.contact-box .field-box textarea {
    padding: 1.5rem;
    background: #1f242d;
    border: .15rem solid #3e4248;
    border-radius: .6rem;
    font-size: 1.4rem;
    color: #EAB62D;
}

.contact-box .field-box textarea {
    grid-column: 1 / -1;
    height: 15rem;
    resize: none;
}

.contact-box .field-box input:focus,
.contact-box .field-box textarea:focus {
    border-color: #EAB62D;
}

.contact-box .btn {
    margin-top: 1.7rem;
    padding-top: 13px;
    cursor: pointer;
    background: #1f242d;
    color: #fff;
}
/* 
@media screen and (max-width: 1350px) {

    .home-info .name,
    .Name,
    .home-info h1 {
        font-size: 53px;
    }

    .sci a {
        padding: 10px 10px;
    }

    html {
        font-size: 55%;
    }
} */

@media screen and (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .home-info .name,
    .Name,
    .home-info h1 {
        font-size: 43px;
    }
}

@media screen and (max-width: 992px) {
    header {
        padding: 2rem 40%;
    }

    .circle {
        visibility: hidden;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home-info .name,
    .Name,
    .home-info h1 {
        font-size: 32px;
    }

    .home-info h2 {
        font-size: 25px;
    }

    #menu-icon {
        display: inline-block;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        background: #323946;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        text-align: center;
        display: none;
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        margin: 4rem 0;
        padding-top: 20px;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 810px) {
    .contact-box .field-box {
        grid-template-columns: 1fr;
    }

    .home-info .name,
    .Name,
    .home-info h1 {
        font-size: 32px;
    }

    .home-info h2 {
        font-size: 25px;
    }

    #menu-icon {
        display: inline-block;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        background: #323946;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        text-align: center;
        display: none;
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        margin: 4rem 0;
        padding-top: 20px;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 778px) {
    #menu-icon {
        display: inline-block;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        background: #323946;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        text-align: center;
        display: none;
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        margin: 4rem 0;
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .home {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 2rem;
    }

    .Name {
        position: relative;
    }

    .home-img .img-box {
        width: 30rem;
        height: 30rem;
    }

    .home-info .name,
    .Name,
    .home-info h1 {
        font-size: 40px;
    }

    .resume-container,
    .contact-container {
        grid-template-columns: 1fr;
    }

    .resume-container {
        gap: 3rem;
    }

    .contact-box .field-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .home-img .img-box {
        width: 15rem;
        height: 15rem;
    }

    .home-info h2 {
        font-size: 20px;
    }

    .home-info .name,
    .Name,
    .home-info h1 {
        font-size: 30px;
    }

    .contact-box .field-box {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 400px) {

    .home-info,
    .resume-box h2,
    .resume-box .heading,
    .resume-box .desc,
    .resume-detail.about .resume-item {
        text-align: center;
    }

    .home-info .btn-sci {
        flex-direction: column-reverse;
    }

    .home-info .btn-sci .sci,
    .social1,
    .social2,
    .social3,
    .social4 {
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .contact-box form {
        padding: 2.5rem 3rem 3.5rem;
    }

    .contact-box h2 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 385px) {

    .home-info h2 {
        font-size: 25px;
        font-weight: 700;
    }

    .img-item .img07 {
        width: 15.5rem;
        height: 25rem;
        padding-bottom: 90px;
        object-fit: cover;
    }
}

@media screen and (max-width: 377px) {
    .home-info h1 {
        font-size: 28px;
    }

    .home-info .Name,
    .home-info .name {
        font-size: 28px;
    }

    .home-info h2 {
        font-size: 20px;
    }

    .btn-sci .btn {
        margin-top: -20px;
    }
}

@media screen and (max-width: 360px) {
    .home-info h1 {
        font-size: 25px;
    }

    .home-info h2 {
        font-size: 20px;
    }

    .home-info .name,
    .home-info .Name {
        font-size: 25px;
    }

    .btn-sci .btn {
        margin-top: -20px;
    }
}